.crap-detect__container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fbf6e9;
  z-index: 9999;
  padding: 40px 20px;
  color: black;
  border-bottom: 2px solid black;
  text-align: center;
  min-height: 25vh;
  font-size: 24px;
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .crap-detect__container {
    padding: 80px 120px;
  }
}