<div class="crap-detect__container" id="crap-detect">
  <div class="crap-detect__msg">
    <strong>{{ heading }}</strong>
    {% if body is not empty %}
    <p>{{ body }}</p>
    {% endif %}
  </div>
</div>